<button id="open-modal-draft" name="open-modal-btn-draft">下書き</button>
<div id="demo-modal-draft" class="modal-draft">
    <div class="modal-content-draft">
        <div class="modal-header-draft">
            <span class="close-draft">×</span>
            <h2>定型文</h2>
        </div>
        <div class="draft-list-wrapper">
            <ul id="draft-list">
                <li>
                    <button class="templete-msg-draft" id=templete1-draft href="#">下書き例1</button>
                </li>
            </ul>
        </div>